body{
text-align: center ;
font-family:arial;

}
.container{
    background-color:rgba(255, 255, 255, 0.936);
    padding:30px;
    margin:auto;
    border-radius:10px;
    color:black;
    width:350px;
    box-shadow:0 0 10px;
}
input{
 width:70%;
 padding:10px;
 margin:10px;

}
button{
padding:10px 20px;
border:none;
background-color:blue;
color:black;
border-radius:5px;
}
button:hover{
    background-color:dark blue;

}
#result{
    padding:10px;
    margin-top:20px;
    font-size: 18px;
}
