body {
    text-align: center;
    font-family: Arial;
    background-color: white;
}

.container {
    padding: 30px;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: blue;
    color: white;
    border: none;
}

button:hover {
    background-color: darkblue;
}