body{
    font-family:arial;
    justify-content: center;

}
.container{
    background-color:aliceblue;
    padding:30px;
    margin:30px;
    color:black;
    border-radius:10px;
    box-shadow: 0 0 10px grey;
    border:none;
    text-align:center;

}
input{
    width:80%;
    padding:10px 20px;
    margin:10px;
    border-radius: 7px;

}
button{
    padding:10px;
    margin:10px;
    text-align:center;
    color:black;
    background-color:blue;
    border-radius:5px;
    border:none;
}
button:hover{
    background-color:dark blue;

}